<div class="container pt-3 text-light pb-5">
  <div id="introCarousel" class="carousel slide container" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/img/car1.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" *ngFor="let i of numbers">
        <img src="assets/img/car{{i}}.jpg" class="d-block w-100" alt="...">
      </div>

      <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

  <div class="container pt-4 pb-5">
    <h3>What is Don't Starve?</h3>
    <p>Don’t Starve is an uncompromising wilderness survival game full of science and magic.</p>
    <p>You play as Wilson, an intrepid Gentleman Scientist who has been trapped by a demon and transported to a mysterious wilderness world. Wilson must learn to exploit his environment and its inhabitants if he ever hopes to escape and find his way back home.</p>
    <p>Enter a strange and unexplored world full of strange creatures, dangers, and surprises. Gather resources to craft items and structures that match your survival style. Play your way as you unravel the mysteries of this strange land.</p>
    <h5>Key Features:</h5>
    <ul>
      <li>
        <h6>Uncompromising Survival & World Exploration:</h6>
        <p>No instructions. No help. No hand holding. Start with nothing and craft, hunt, research, farm and fight to survive.</p>
      </li>
      <li>
        <h6>Dark and Whimsical Visuals:</h6>
        <p>2D characters and odd creatures inhabiting a unique 3D world.</p>
      </li>
      <li>
        <h6>Randomly Generated New Worlds:</h6>
        <p>Want a new map? No problem! At any time you can generate a new living and breathing world that hates you and wants you to die.</p>
      </li>
    </ul>
    <a href="https://store.steampowered.com/app/219740/Dont_Starve/">Buy Don't Starve in Steam!</a>
  </div>
</div>
