<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Express!</title>
</head>
<body>
    <h1>Hello there</h1>
    <img src="/img/Pedobear.png" alt="oso">
    <img src="/img/cat.jpg" alt="cat">


    <form method="GET" action="/login/?">
        <label for="user"> Usuario </label>
        <input id="user" name="user"type="text" placeholder="Ingresa usuario">
        <label for="pwd"> Usuario </label>
        <input id="pwd" name="pwd"type="password">
        <button>Enviar</button>
    </form>
</body>
</html>